
@{
    ViewBag.Title = "BaoMing";
}
<h2>BaoMing</h2>
<form action=" ~/Default/BaoMing" method="post" enctype="multipart/form-data">
    姓名：<input type="text" name="name" />
    电话：<input type="text" name="phoneNum" />
    <input type="file" name="f1" />
    <input type="submit" />
</form>